/* Carousel*/

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url("../img/cross.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(2) {
    background-image: url("../img/cross.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    background-image: url("../img/cross.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Caption*/

.flex-center {
    color: #fff;
}

.carousel-title {
    color: #fff;
    text-shadow: 0 4px 3px #222222;
}

.carousel-body-text {
    width: 80%;

}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}