body {
    background: url("../img/easter-all-things-new-tomb-crosses-jesus.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}