html,
body,
.view {
    height: 100%;
}

body {
    background: #132a3d;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(255,255,255,.5);
}

hr {
    height: 2px;
    border-top: 2px solid rgba(255,255,255,.5);
}

.page-content {
    margin-top: 60px;
    padding-top: 20px;
}

.card-title {
    color: #132a3d;
}

.margin-top-40 {
    margin-top: 40px;
}

/* Navigation */

li.nav-item a.nav-link {
    border-radius: 8px;
}

.dropdown-menu {
    background: none;
}

.dropdown-menu a.dropdown-item {
    color: rgba(255,255,255,.5);
}

.dropdown-menu a.dropdown-item:hover {
    background: none;
    color: rgba(255,255,255,.75);
}



/* Carousel*/

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url("http://mdbootstrap.com/images/regular/nature/img%20(54).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(2) {
    background-image: url("http://mdbootstrap.com/images/regular/nature/img%20(4).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    background-image: url("http://mdbootstrap.com/images/regular/nature/img%20(3).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Caption*/

.flex-center {
    color: #fff;
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}


/* Archive */

