html,
body,
.view {
    height: 100%;
}

body {
    background: #132a3d;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(255,255,255,.5);
}

hr {
    height: 2px;
    border-top: 2px solid rgba(255,255,255,.5);
}

.btn-primary-outline {
    color: rgba(255,255,255,.5);
    border-radius: 8px;

}

.page-content {
    margin-top: 60px;
    padding-top: 20px;
}

.card-title {
    color: #132a3d;
}

.panel-info-titles {
    font-weight: bold;
}

.card-footer {
    font-size: x-small;
}

.margin-top-40 {
    margin-top: 40px;
}

/* Navigation */

li.nav-item a.nav-link {
    border-radius: 8px;
}

.dropdown-menu {
    background: none;
}

.dropdown-menu a.dropdown-item {
    color: rgba(255,255,255,.5);
}

.dropdown-menu a.dropdown-item:hover {
    background: none;
    color: rgba(255,255,255,.75);
}




