html,
body,
.view {
    height: 100%;
    font-family: "Adobe Garamond Pro", sans-serif;
}

body {
    background: #0b0b0b;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(255,255,255,.9);
}

table {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ebebeb;
    border-radius: 8px;
}

iframe {
    border-radius: 8px;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.dark-h-tag {
    color: rgba(18, 18, 18, 0.9);
}

hr {
    height: 2px;
    border-top: 2px solid rgba(255,255,255,.5);
}

.btn-primary-outline {
    color: rgba(255,255,255,.5);
    border-radius: 8px;

}

.page-content {
    margin-top: 60px;
    padding-top: 20px;
}

.card-title {
    color: #132a3d;
}

.panel-info-titles {
    font-weight: bold;
}

.card-footer {
    font-size: x-small;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.btn-primary-outline {
    color: #fff;
}

.btn-primary-outline:hover {
    color: #ccc;
}

.navbar-brand {
    text-shadow: 0 0 5px #f8ff92;
}



/* Navigation */

li.nav-item a.nav-link {
    border-radius: 8px;
}

.dropdown-menu {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

.dropdown-menu a.dropdown-item {
    color: rgba(255,255,255,.5);
}

.dropdown-menu a.dropdown-item:hover {
    background: none;
    color: rgba(255,255,255,.75);
}

#collapseEx {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

.navbar-scroll {
    background: rgba(0, 0, 0, 0.7);
}

/* Parralax */

.content-block h1 {
    color: #ebebeb;
}

.content-space {
    padding: 0;
    margin-bottom: 0;
    color: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.content-space p {
    color: #1A1305;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 0 0 3px #fff;
}

#cs-one {
    background: url('../img/beautiful-river.jpg') no-repeat center center fixed;
}





